@font-face {
    font-family: 'Brill';
    src: url('fonts/Brill-Roman.ttf');
}
@font-face {
    font-family: 'Brill';
    src: url('fonts/Brill-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Brill';
    src: url('fonts/Brill-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'Brill';
    src: url('fonts/Brill-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}